{% extends 'base.html.twig' %}

{% block title %}{{ tag.name }}{% endblock %}

{% block body %}
    <h1>{{ tag.name }}</h1>

    {% for article in tag.articles %}
        {{ include('article/_article.html.twig', { article: article, loop: loop }, with_context = false) }}
    {% endfor %}
{% endblock %}
