{% extends 'base.html.twig' %}

{% block title %}
    Liste des articles
{% endblock %}

{% block body %}
    <h1>Liste des articles</h1>

    {% set truc = 'machin' %}
    {% for article in articles %}
        {{ include('article/_article.html.twig', { article: article, loop: loop }, with_context = false) }}
    {% endfor %}
{% endblock %}
